@model IEnumerable<Vidly.Models.Movie>

@{
    ViewBag.Title = "Index"; Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Movies</h2>

<p class="btn btn-lg">
    <i class="glyphicon glyphicon-plus"></i>
    @Html.ActionLink("Create New", "New")
</p>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            Genre
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.ActionLink(item.Name, "Edit", new { id = item.Id })

            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Genre.Name)
            </td>
        </tr>
    }
</table>