@model Vidly.Models.Customer

@{ViewBag.Title = "Details";}

<h2>@Model.Name</h2>

<ul>
    <li>Membership Type: @Model.MembershipType.Name</li>

    @if (Model.BirthDate != null)
    {
        <li>Birth Date: @Model.BirthDate</li>
    }
</ul>
